@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(NanumSquare_acR.ttf);
 font-display: swap;
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(NanumSquare_acB.ttf);
 font-display: swap;
}
@font-face {
  font-family: "emoji";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("NotoColorEmoji.ttf") format("truetype");
}
