@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(NanumSquare_acR.ttf);
 font-display: swap;
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(NanumSquare_acB.ttf);
 font-display: swap;
}
@font-face {
  font-family: "joypixels";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://rawcdn.githack.com/baboseojin/pjax/f80398a31e2871605b652e88e05b7c73f7839991/joypixels-android.ttf") format("truetype");
}
